* {margin: 0; padding: 0;}
a {
    text-decoration: none;
    color: #535353;
}

.center{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

header{
  border-bottom:1px solid #535353;
  padding:30px;
}

/* menu list */
nav {
    border-right:1px solid #535353;
    padding-top: 20px;
    padding-left: 20px;
    width:10%;
    height:600px;
    float:left;
}

nav ol{
    list-style:none;
}

nav ol li{
    padding: 6px;
    font-weight: bold;
    font-size: 1em;
}

nav ol li>a:hover{
    text-decoration-line: underline;
}

/* bg */
.bg{
    display: block;
    background-position: center center;
    height:620px;
    width: 83%;
}

/* button */
#control {
    position: absolute;
    top:60px;
    right: 20px;
}

#control input{
    width: 50px;
    padding: 3px;
    border-radius: 4px;
    color: #535353;
    font-weight: 600;
    background-color: #f5f5f5;
}

body.black {
    background-color:black;
    color:white;
}

body.white {
    background-color:white;
    color:black;
}


/* contents */
article{
    float:left;
    padding:20px;
    color: #535353;
    width: 80%;
}

article h2{
    margin-bottom: 10px;
}

article img {
    width: 100%;
}
